<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>

    <body>
        <h1>Playground</h1>
        <ul>
            <%for(let i = 1;i<6;i++){%>
                <li><%=i%></li>
            <%}%>
        </ul>
        <%if(true){%>
            <h1>Yea</h1>
        <%}else{%>
            <p>ohhhhhh</p>
        <%}%>
    </body>
</html>